* {
    box-sizing: border-box;
}

html{
    background-color: azure;
}

body {
    font-weight: bold;
    text-align: center;
}

div {
    margin: 1.5px;
    padding: 5px;
    border: 2px solid darkblue;
    background-color: powderblue;
    
}

figure {
    float: right;
}

img {
    border-radius: 8px;
    height:200px;
}

span{
    color: midnightblue;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
}

#article, #aside, #footer, #header, #nav {
    padding: 20px;
}

#header {
    background-color: paleturquoise;
}

#nav {
    background-color: cadetblue;
    display: flex;
    /*justify-content: space-around; */
}

    #nav a {
        text-decoration: none;
        color: black;
        flex: 1 1 auto;
        font-size: 1.3em;
    }

#article {
    background-color:lightskyblue;
    text-align: left;
    text-indent: 10px;
    font-size: 1.05em;
    margin-right:5px;
}

#aside {
    background-color: steelblue;
    text-align: justify;
    font-size: 1.1em;
    margin-left:5px;
}

#footer {
    background-color: hotpink;
}

@media screen and (min-width: 800px) {
    body {
        display: flex;
        flex-direction: column;
        margin: auto;
        max width: 1500px;
    }

    #main {
        display: flex;
    }

    #nav, #header {
        order: -1;
    }

    #article {
        flex: 1 1 75%;
    }

    #aside {
        flex: 1 1 25%;
    }
}